

  <mat-card class="header">
    <mat-card-content fxLayout="row" fxLayoutAlign="center start">
      <mat-toolbar class="header">
        <mat-toolbar-row class="header">
          <mat-icon fontIcon="travel_explore"></mat-icon>
          <span color="white">Região Sudoeste Rio-Grandense</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>

<mat-card >

    <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">

    <div style="margin-left: 50px; margin-right: 50px;" fxLayout="column" fxFlex="50">

      <form [formGroup]="formulario" fxLayout="column" (ngSubmit)="onSubmit()">
        <mat-label>Local de Saída</mat-label>
        <mat-form-field class="cidades">
          <mat-label>Selecione a cidade</mat-label>

          <input type="text"
                  aria-label="Number"
                  matInput
                  formControlName="saida"
                  [matAutocomplete]="auto" required>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }

          </mat-autocomplete>

        </mat-form-field>

        <mat-label>Local de Destino</mat-label>
        <mat-form-field class="cidades">
          <mat-label>Selecione a cidade</mat-label>
          <input type="text"
            aria-label="Number"
            matInput
            formControlName="destino"
            [matAutocomplete]="auto" required>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>

        </mat-form-field>

        <mat-label>Veículo</mat-label>
        <mat-form-field class="veiculo">
          <mat-label>Selecione o veículo</mat-label>
          <mat-select disableRipple formControlName="veiculo" required>
            <mat-option value="1">Motocicleta</mat-option>
            <mat-option value="2">Carro</mat-option>
            <mat-option value="3">Micro-ônibus</mat-option>
            <mat-option value="4">Ônibus</mat-option>
            <mat-option value="5">Caminhão</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label>Combustível (valor por litro)</mat-label>
        <mat-form-field>
          <span matPrefix>R$</span>
          <input matInput
              placeholder="Valor"
              formControlName="valCombustivel"
              [imask]="mask"
              [unmask]="true" required>
              @if (formulario.get('valCombustivel')?.invalid) {
                <mat-error>Preenchimento <strong>obrigatório*</strong></mat-error>
              }
        </mat-form-field>

        <mat-label>Quantidade de paradas: <b>{{qtdParada.value}}</b></mat-label>
        <mat-slider min="0" max="5" step="1" showTickMarks discrete color="accent">
          <input matSliderThumb #qtdParada formControlName="qtdParadas">
        </mat-slider>

        <mat-label>Quantidade de pessoas viajando: <b>{{qtdPessoas.value}}</b></mat-label>
        <mat-slider min="1" max="5" step="1" showTickMarks discrete color="accent">
          <input matSliderThumb #qtdPessoas formControlName="qtdPessoas">
        </mat-slider>

        <mat-label>Custo com alimentação (por pessoa)</mat-label>
        <mat-form-field>
          <span matPrefix class="prefix">R$</span>
          <input matInput
              placeholder="Valor"
              [imask]="mask"
              [unmask]="true"
              formControlName="valAlimentacao" required>
            @if (formulario.get('valAlimentacao')?.invalid) {
              <mat-error>Preenchimento <strong>obrigatório*</strong></mat-error>
            }
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!formulario.valid" style="background-color: #80a73e; color: white;">
          Salvar
        </button>

      </form>
    </div>

    <div class="coluna2" style="margin-left: 50px; margin-right: 50px;" fxLayout="column" fxFlex="50" fxLayoutAlign="space-around stretch">
      <div class="resultados" style="background-color: #80a73e;">
        <p>
          <mat-icon fontIcon="map"></mat-icon>
          Rotas
        </p>
      </div>
      <div class="resultados" style="background-color: #80a73e;">
        <p>
          <mat-icon fontIcon="watch_later"></mat-icon>
          Duração da Viagem
        </p>
      </div>
      <div class="resultados" style="background-color: #80a73e;">
        <p>
          <mat-icon fontIcon="route"></mat-icon>
          Total de Km
        </p>
      </div>
      <div class="resultados" style="background-color: #80a73e;" fxLayout="row">
        <p>
          <mat-icon fontIcon="local_gas_station"></mat-icon>
          Total do Combustível
        </p>
      </div>
      <div class="resultados" style="background-color: #80a73e;">
        <p>
          <mat-icon fontIcon="hotel"></mat-icon>
          Total de Paradas
        </p>
      </div>
      <div class="resultados" style="background-color: #80a73e;">
        <p>
          <mat-icon fontIcon="restaurant"></mat-icon>
          Total de Alimentação
        </p>
      </div>
    </div>
  </mat-card-content>
  <div class="grupo">
    <p>&copy;
      Feito com amor por Milena Clara Ribeiro, Sarah Possidônio Ventura Plácido, Lorenço da Silva Marcos e Gabriel Cabral de Medeiros.
    </p>
  </div>
</mat-card>
